h1 {
    color:rgb(230, 235, 238)
}
p {
    font-size: 30Px;
    font-weight: bold;
    text-align: center;
    font-family: serif;
}
.Box{
    width: 30px;
    height: 30px;
    padding: 20px;
    border: 6px solid rgb(35, 141, 118);
    background-color: azure;
    margin: 0px;
    border-radius: 15px;
}
.card{
    width: 300px;
    background-color:rgb(48, 99, 219) ;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}
.card button{
    background-color: rgb(41, 124, 232);
    
    
}
body {
    background-color: rgb(102, 113, 138)
}